name = "core-qa-headquarters"
compatibility_date = "2026-06-03"
workers_dev = true

[assets]
directory = "./modern-dashboard/dist"
not_found_handling = "404-page"

[vars]
HQ_ENVIRONMENT = "template"
GITHUB_PAGES_FALLBACK_URL = "https://dewankabir009.github.io/jira-board-v3001-123-0/modern/"
